.foods {
  display: flex;
  flex-wrap: wrap;

  .food {
    width: 60px;
    height: 60px;

    .food-detail {
      width: 10px;
      height: 10px;
      background-color: yellow;
      margin: 25px;
    }
  }
}

.hidden {
  visibility: hidden;
}