.pacman {
   position: absolute;
   will-change: transform;
  .pacman-detail {
    width: $roleWidth;
    height: $roleHeight;
    color: yellow;
  }
  .pacman--up {
    transform: rotate(270deg);
  }
  .pacman--down {
    transform: rotate(90deg);
  }
  .pacman--left {
    transform: rotateY(180deg);
  }
  .pacman--right {
    transform: rotate(0);
  }
}


.ghost {
  position: absolute;
  will-change: transform;
  .ghost-detail {
    width: $roleWidth;
    height: $roleHeight;
  }
}