

@mixin clr-button{
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  font: inherit;
  font-size: 4.5em;
  cursor: pointer;
}


.scene {
  width: $sceneWidth;
  height: $sceneHeight;
  background: #2c3e50;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;

}

.scene-start {
  display: flex;
  align-items: center;
  justify-content: center;
  .start {
    @include clr-button;
    transition: all .3s;
  }
  .start:hover {
    font-size: 5em;
  }
  .start:active {
    font-size: 4.5em;
  }
}

.gameover {
  width: $sceneWidth;
  height: $sceneHeight;
  position: absolute;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background: rgba(0, 0, 0, 0.5);

  .gameover__string {
    position: relative;
    top: -100px;
    font-size: 4.5em;
    color: white;
    z-index: 10;
  }

  .reStart__button {
    @include clr-button;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
    background-color: white;
    color: black;

    height: 50px;
    font-size: 2em;
    transition: all .3s;
    z-index: 10;
  }
  .reStart__button:hover {
    background-color:#6c716c
  }

}

