$roleWidth : 60px;
$roleHeight : 60px;

$sceneWidth : 800px;
$sceneHeight : 600px;



:export {
  roleWidth: $roleWidth;
  roleHeight: $roleHeight;
  sceneWidth:$sceneWidth;
  sceneHeight:$sceneHeight;
}